{% extends 'main.html' %}
{% block content %}
    <style>
        .adjust-line-height {
            line-height: 2em;
        }
    </style>

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-11">
                <div class="card shadow mb-4 text-right" dir="rtl">
                    <!-- Card Header - Dropdown -->
                    <div class="card-body">
                        <div class="text-center">

                            <img class="img-fluid  px-sm-4 mt-3 mb-4"
                                 src="{{ article.img }}" alt="{{ article.title }}">

                            <h5 class="card-title text-right mb-4 font-weight-bold">{{ article.title }}</h5>

                        </div>
                        {{ article.desc|safe|linebreaks }}

                    </div>
                    <!-- Card Body -->

                </div>
            </div>

        </div>


    </div>


    {#    <div class="col-lg-6 mb-4">#}
    {##}
    {#                            <!-- Illustrations -->#}
    {#                            <div class="card shadow mb-4">#}
    {#                                <div class="card-header py-3">#}
    {#                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>#}
    {#                                </div>#}
    {#                                <div class="card-body">#}
    {#                                    <div class="text-center">#}
    {#                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"#}
    {#                                            src="img/undraw_posting_photo.svg" alt="...">#}
    {#                                    </div>#}
    {#                                    <p>Add some quality, svg illustrations to your project courtesy of <a#}
    {#                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a#}
    {#                                        constantly updated collection of beautiful svg images that you can use#}
    {#                                        completely free and without attribution!</p>#}
    {#                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on#}
    {#                                        unDraw &rarr;</a>#}
    {#                                </div>#}
    {#                            </div>#}
    {##}
    {#                            <!-- Approach -->#}
    {#                            <div class="card shadow mb-4">#}
    {#                                <div class="card-header py-3">#}
    {#                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>#}
    {#                                </div>#}
    {#                                <div class="card-body">#}
    {#                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce#}
    {#                                        CSS bloat and poor page performance. Custom CSS classes are used to create#}
    {#                                        custom components and custom utility classes.</p>#}
    {#                                    <p class="mb-0">Before working with this theme, you should become familiar with the#}
    {#                                        Bootstrap framework, especially the utility classes.</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {##}
    {#                        </div>#}


    <style>
        .centered-div {
            margin: 0 auto;
            width: 20%; /* Optional - adjust as needed */
        }
    </style>


    <!-- End of Main Content -->

    </div>
{% endblock content %}