{% extends 'main.html' %}
{% block content %}
    <div class="container-fluid">
        {% for item in items %}
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12 col-lg-11">
                    <div class="card shadow mb-4 text-right" dir="rtl">
                        <!-- Card Header - Dropdown -->
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ item.img }}" class="img-fluid rounded-start ">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'article' item.id %}" class="text-decoration-none"><h5
                                            class="card-title">{{ item.title }}</h5></a>
                                    <p class="card-text">{{ item.desc|truncatechars:150 }}</p>
                                    <p class="card-text"><small class="text-muted"> ساخته شده در تاریخ
                                        : {{ item.created|date }}</small></p>
                                    <a
                                            href="{% url 'article' item.id %}"
                                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                    > مشاهده ادامه مطلب
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->

                    </div>
                </div>

            </div>

        {% endfor %}

    </div>


    <style>
        .centered-div {
            margin: 0 auto;
            width: 20%; /* Optional - adjust as needed */
        }
    </style>

    <footer class="sticky-footer bg-white">
        <div class="pagination d-flex justify-content-center" dir="rtl">
                <span class="step-links btn btn-light">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}" class="btn btn-primary">قبلی</a>
                    {% endif %}

                    <span class="current-page m-2 ">
                        {{ items.number }} از {{ items.paginator.num_pages }}
                    </span>

                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}" class="btn btn-primary">بعدی</a>
                    {% endif %}
                </span>
        </div>
    </footer>
{% endblock content %}