{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">

        <div
                class="d-sm-flex align-items-center justify-content-between mb-4"
        ><a
                href="{% url 'create-goal' %}"
                class=" d-sm-inline-block btn btn-sm btn-block btn-info p-3 shadow-sm"
        ><i class="fas fa-plus fa-sm text-white-50 "></i> اضافه کردن هدف </a>

        </div>
        <div class="">
            <div class="row">
                {% for goal in goals %}
                    <div class="col-xl-6 col-md-9 mb-4">
                        <div class="card {% if goal.progress == 100 %} border-left-danger {% endif %} shadow h-100 py-2">
                            <a class="card-body text-decoration-none" href="{% url 'add-goal' goal.id %}">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="font-weight-bold {% if goal.progress == 100 %} text-danger {% endif %}o text-uppercase mb-1"
                                             style="font-size: 13px">{{ goal.name }}
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ goal.progress }}%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar {% if goal.progress == 100 %} bg-danger {% endif %}"
                                                         role="progressbar"
                                                         style="width: {{ goal.progress }}%"
                                                         aria-valuenow="{{ goal.progress }}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto mt-3 {% if goal.progress == 100 %} text-danger {% endif %}"
                                         dir="rtl">
                                        {{ goal.goal }} {{ goal.mode }} در {{ goal.period }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if goals %}
                <div class="row">
                    <div class="col-xl-12 col-lg-11">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">نمودار اهداف</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            {% endif %}


    <script src={% static 'vendor/chart.js/Chart.min.js' %}></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        (Chart.defaults.global.defaultFontFamily = "Nunito"),
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = "#858796";

        // Pie Chart Example
        let ctx = document.getElementById("myBarChart");
        let myPieChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: " درصد ",
                        data: {{ data|safe }},
                        backgroundColor: ["#4e73df", "#1cc88a", "#36b9cc", "#e8186f", "#FE6244", "#5D9C59", "#16FF00"],
                        hoverBackgroundColor: ["#2e59d9", "#17a673", "#2c9faf"],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleFontColor: "#6e707e",
                    titleFontSize: 14,
                    borderColor: "#dddfeb",
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false,

                },
            },
        });

    </script>
{% endblock content %}